[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
gramformer = {git = "git+https://github.com/PrithivirajDamodaran/Gramformer.git"}
torch = {version = "1.13.1+cpu", extras = ["cpu"]}
python-dotenv = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.11"
